*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #262626;
}


.To-do{
    background-color: #fff;
    width: 20em;
    height: fit-content;
    margin: 6em auto 0;
    border-radius: 10px;
    padding: 2em;
}

.lists{
    display: flex;
    gap: 1em;
}

.lists h1{
    font-size: 25px;
}

.lists img{
    height: 27px;
    width: 30px;
}

.search{
    margin-top: 1.5em;
}

.search input{
    width: 20em;
    height: 2.7em;
    border-radius: 5em;
    padding: 0px 10px 0px 15px;
    border: none;
    outline: none;
    background-color: #ebeced;
   
}

.search button{
    height: 2.7em;
    width: 6em;
    border: none;
    outline: none;
    border-radius: 20px;
    background-color: #ff653b;
    color: #fff;
    position: absolute;
    right: 32em;
    cursor: pointer;
}

.unorder-lists ul li {
    list-style: none;
    margin: 1.5em 0 0 0;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    
}
.unorder-lists{
    margin-top: 2em;
}

.unorder-lists ul li img{
    height: 25px;
    width: 25px;
}
.unorder-lists ul{
    margin-left: 2em;
}

#img{
    height: 25px;
    width: 25px;
    position: absolute;
}

.unorder-lists ul li::before{
    content: '';
    background-image: url(./To-Do-Img/images/unchecked.png);
    background-size: cover;
    background-position: center;
    position: absolute;
    height: 25px;
    width: 25px;
    left: 26em;
}

.checked{
    color: #555;
    text-decoration: line-through;
}

ul li.checked::before{
    background-image: url(./To-Do-Img/images/checked.png)
}


